/.vs/MyLove/v15/.suo
/.vs/MyLove/v15/Browse.VC.db
/.vs/MyLove/v15/ipch/AutoPCH/50f983710f1330fa/HEARTWIDGET.ipch
/Debug/MyLove.exe
/Debug/MyLove.ilk
/Debug/MyLove.pdb
/MyLove/Debug/FireWidget.obj
/MyLove/Debug/HeartWidget.obj
/MyLove/Debug/MyLove.log
/MyLove/Debug/MyLove.obj
/MyLove/Debug/MyLove.tlog/CL.1436.write.1.tlog
/MyLove/Debug/MyLove.tlog/CL.command.1.tlog
/MyLove/Debug/MyLove.tlog/CL.read.1.tlog
/MyLove/Debug/MyLove.tlog/MyLove.lastbuildstate
/MyLove/Debug/MyLove.tlog/MyLove.write.1u.tlog
/MyLove/Debug/MyLove.tlog/link.command.1.tlog
/MyLove/Debug/MyLove.tlog/link.read.1.tlog
/MyLove/Debug/MyLove.tlog/link.write.1.tlog
/MyLove/Debug/MyLove.tlog/moc.read.1u.tlog
/MyLove/Debug/MyLove.tlog/moc.write.1u.tlog
/MyLove/Debug/MyLove.tlog/rcc.read.1u.tlog
/MyLove/Debug/MyLove.tlog/rcc.write.1u.tlog
/MyLove/Debug/MyLove.tlog/uic.read.1u.tlog
/MyLove/Debug/MyLove.tlog/uic.write.1u.tlog
/MyLove/Debug/main.obj
/MyLove/Debug/moc/moc_FireWidget.cpp
/MyLove/Debug/moc/moc_HeartWidget.cpp
/MyLove/Debug/moc/moc_MyLove.cpp
/MyLove/Debug/moc_FireWidget.obj
/MyLove/Debug/moc_HeartWidget.obj
/MyLove/Debug/moc_MyLove.obj
/MyLove/Debug/qmake/qtvars_Win32_Debug.props
/MyLove/Debug/qmake/temp/.qmake.stash
/MyLove/Debug/qmake/temp/3E8FDB78-4769-4A92-8DA5-6883E3B095E1.MyLove.designtime.idx
/MyLove/Debug/qmake/temp/Makefile
/MyLove/Debug/qmake/temp/props.txt
/MyLove/Debug/qmake/temp/qtvars.log
/MyLove/Debug/qmake/temp/qtvars.pro
/MyLove/Debug/qmake/temp/qtvars_Win32_Debug.props
/MyLove/Debug/qrc_MyLove.obj
/MyLove/Debug/qt_work.log
/MyLove/Debug/rcc/qrc_MyLove.cpp
/MyLove/Debug/uic/ui_MyLove.h
/MyLove/Debug/vc141.pdb
/MyLove/Release/qmake/qtvars_Win32_Release.props
/MyLove/Release/qmake/temp/.qmake.stash
/MyLove/Release/qmake/temp/3E8FDB78-4769-4A92-8DA5-6883E3B095E1.MyLove.designtime.idx
/MyLove/Release/qmake/temp/Makefile
/MyLove/Release/qmake/temp/props.txt
/MyLove/Release/qmake/temp/qtvars.log
/MyLove/Release/qmake/temp/qtvars.pro
/MyLove/Release/qmake/temp/qtvars_Win32_Release.props
/MyLove/Release/uic/ui_MyLove.h
